<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Istanbul Hotel: Room Reservations</title>
</head>
<body>
<h1>Welcome to the Reservations Page</h1>
<table>
    <tr>
        <td>Last Name</td>
        <td>First Namer</td>
        <td>Email Address</td>
        <td>Phone Number</td>
    </tr>
    <tr th:each="guest: ${guests}">
        <td th:text="${guest.lastName}">Last Name</td>
        <td th:text="${guest.firstName}">First Name</td>
        <td th:text="${guest.emailAddress}">Email Address</td>   
        <td th:text="${guest.phoneNumber}">Phone Numberr</td>

    </tr>
</table>

</body>
</html>

	